html { font-family: Chakra Petch; background:#151448; padding: 1rem; }
body { max-width: 340px; margin: 0 auto;}
h1 { color: #000; margin: 1rem 0; text-align: center; font-weight: 700; font-style: italic;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav {align-items: center; padding: 0 0.5rem; }
nav h1 { margin-bottom: 20px; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
p {color: #FFE604}
.content { padding: 0 1rem 1rem; }
.content > header { display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.probot-logo { width: 150px; display: block; margin: 0 auto;}
.banner { width: 100%; font-weight: 700; text-align: center; padding: 1px;}
.banner p {color: #E91010;}
.dialogue { font-size: 16px; font-weight: 700;}
.button {width: 100%; color: #fff; text-decoration: none; display: inline-block; text-align: center; border-radius: 20px; padding: 12px 0;margin: 5px 0;}
.button.purple {background-color: #FC13C9;}
.address { margin: 10px 20px; color: #6558f5;font-size: 20px;overflow-wrap: break-word; text-align: center;}
.display-img {display: block; width: 50%; margin: 15px auto;}
.arrows {display: block; width: 25%; margin: 0 auto;}
.final-display-img {display: block; width: 100%;}
.secondary{color: lightgray; text-align: center;}
.tagParent {
  background-color: #2c88d9;
  color: #fff;
  padding: 7px 12px;
  margin: 3px;
  border-radius: 24px;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}
.checkmark{color: #FFE604; padding-right: 6px;}
