{% extends 'base.html' %}

<script src="{{ url_for('static', filename='js/nft_generator.js') }}"></script>

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <p class="dialogue">Witness these art variants from the multiverse!</p>

  <div>
    <img class="arrows" src="{{ url_for('static', filename='img/arrows.png') }}">
    <img class="final-display-img" src="{{ url_for('static', filename='img/universe-selection.png') }}">
  </div>

  <a class="button purple" onclick="claimArtButton()">Claim Multiversal NFTs</a>
</div>
{% endblock %}
